*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
background:#F8FAFC;
color:#0F172A;
}
.navbar{
display:flex;
justify-content:space-between;
padding:16px 40px;
background:#0F172A;
border-bottom:1px solid #1E293B;
}

.logo{
color:#2563EB;
font-weight:700;
}

.nav-links a{
margin-left:20px;
color:#94A3B8;
text-decoration:none;
}

/* PROFILE */

.profile-section{
height:85vh;
display:flex;
align-items:center;
justify-content:center;
}

.profile-card{
background:white;
padding:50px;
width:350px;
border-radius:16px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,0.05);
transition:.3s;
}

.profile-card:hover{
transform:translateY(-5px);
}

.avatar{
width:80px;
height:80px;
background:#2563EB;
color:white;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:32px;
font-weight:700;
margin:0 auto 20px;
}

.sub-text{
color:#64748B;
margin:10px 0 30px;
}

/* LOGOUT BUTTON */

.logout-btn{
background:#EF4444;
border:none;
padding:12px 20px;
border-radius:8px;
color:white;
font-weight:600;
cursor:pointer;
width:100%;
transition:.3s;
}

.logout-btn:hover{
background:#DC2626;
}

/*nav*/
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#111827;
color:white;
}

.nav-links a{
color:white;
margin-left:20px;
text-decoration:none;
}

/* DELETE ACCOUNT BUTTON */

.delete-btn{
background:#111827;
border:none;
padding:12px 20px;
border-radius:8px;
color:white;
font-weight:600;
cursor:pointer;
width:100%;
transition:.3s;
margin-top:12px;
}

.delete-btn:hover{
background:#000;
}